h1,
ul,
.fa-cloud,
.container {
  color: white;
}

body {
  background-image: url("images/360_F_434977932_CGPIeV2e2KNr0giHDCSHw4hb9niyfmfh.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  font-family: "Rubik", sans-serif;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

img {
  vertical-align: inherit;
  height: 80%;
}

.container {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: rgb(30, 68, 100);
  max-width: 350px;
  border-radius: 20px;
}

.row {
  height: 75px;
}
