h1,
ul,
.fa-cloud,
.container {
  color: white;
}

body {
  background-image: url("src/images/360_F_434977932_CGPIeV2e2KNr0giHDCSHw4hb9niyfmfh.jpg");
}

h1 {
  font-family: "Rubik", sans-serif;
}
* {
  border: 1px red solid;
}
ul {
  list-style-type: none;
  padding-left: 0px;
}

.container {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: rgb(30, 68, 100);
}

.fa-cloud {
  font-size: 50px;
}
