h1,
ul,
.fa-cloud,
.container {
  color: white;
}

body {
  background-image: url("images/360_F_434977932_CGPIeV2e2KNr0giHDCSHw4hb9niyfmfh.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  font-family: "Rubik", sans-serif;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

img {
  vertical-align: inherit;
  height: 80%;
}

.container {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: rgb(30, 68, 100);
  max-width: 350px;
  border-radius: 20px;
}

.row {
  height: 75px;
}

.form-control {
  background-color: rgb(30, 68, 100);
  border: none;
  padding-left: 0px;
  padding-top: 15px;
  text-align: center;
}

#button {
  border-radius: 7.5px;
  background-color: white;
}

#button:hover {
  background-color: rgb(170, 98, 166);
  cursor: pointer;
  transition: ease-in-out 200ms;
}

a {
  color: rgb(170, 98, 166);
  text-decoration: none;
}
